mistral_vision:
  fields:
    config_entry:
      required: true
      selector:
        config_entry:
          integration: openai_compatible_conversation
    prompt:
      required: true
      selector:
        text:
          multiline: true
    image_path:
      required: true
      selector:
        text:
    model:
      required: false
      selector:
        text:
    max_tokens:
      required: false
      default: 300
      selector:
        number:
          min: 50
          max: 1000
          step: 10

web_search:
  name: Web Search
  description: Asks a question to a Mistral agent with web search capabilities. Returns a text response.
  fields:
    config_entry:
      required: true
      selector:
        config_entry:
          integration: openai_compatible_conversation
    prompt:
      required: true
      example: "What are the main news headlines today?"
      selector:
        text:
          multiline: true

stream_response:
  name: Stream Response
  description: Streams a spoken response from a conversation agent to an Assist satellite.
  target:
    entity:
      domain: assist_satellite
  fields:
    agent_entity_id:
      required: false
      example: conversation.openai_agent
      selector:
        config_entry:
          integration: openai_compatible_conversation
    prompt:
      required: true
      example: "Tell me a story."
      selector:
        text:
          multiline: true
    conversation_id:
      required: false
      example: "01K9FP1WC2HHV0RVN289YW873C"
      selector:
        text:
